.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.left {
  background-image: linear-gradient(to right, rgb(16,16,16),rgb(26,26,26));
  left:0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.right {
  background-color: #60100b;
  right:0;
  display: flex;
  flex-direction: column;
}
.container {
  color:white;
  font-family: Helvetica;
  position: absolute;
}
.split {
  height: 100%;
  width:50%;
  position:fixed;
}
.leftbg {
  width: 100%;
  height:auto;
  position: fixed;
  z-index: -1;
}
.settingsIcon {
  width: 6em;
  height: 7.5em;
  position: absolute;
  right: 0;
  padding: 1em;
}
.settingsIcon:hover {
  background-color: rgba(0, 0, 0, .1);
}
.center {
  
}
.input {
  background: transparent;
  border-width: 0px 0px 2px 0px;
  border-color: whitesmoke;
  color:white;
  width:12em;
  margin-bottom: 2em;
}
.input:focus{
  outline: none;
}
.user{
  
  
}
.user-container{
  padding: 2em 4em 0 4em;
}

.left::-webkit-scrollbar {
  width: .5em;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.left::-webkit-scrollbar-thumb {
  background-color: black;
  -webkit-border-radius: 10px;
  
}
.test {
  width:45%;
  height:40em;
  background-color: rgba(110,0,24,.65);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  min-width: 190px;
  
}
.buttons {
  width: 10em;
  height:3em;
  border-color: whitesmoke;
  color:white;
  background-color: transparent;
  border-radius: 32px;
  display: block;
}
.buttons:hover {
  border-color: lightslategrey;
  font-weight: bold;
}
.create-user-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-top: 1em;
}
.log-in-out-container{
  display: flex;
  flex-direction: column;
}
.add-session-container{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 12px;
  margin-bottom: 1em;
}
.time-text{
  margin-bottom: 5px;
}
.date-time-picker{
  margin-bottom: 10px;
  color: black;
  background-color:white;
}
h1{
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
}
.display-users {
  margin-top: 4em;
}
.search-bar-icon {
  width:2em;
  height:2.05em;
  border-radius: 16px 0 0 16px;
}
.search-bar {
  height: 2em;
  width:24em;
  border-color: transparent;
  border-radius: 0 16px 16px 0;
  background-color: #f7f7f7;
}
.search-bar:focus {
  outline:none;
}
.search-bar-container{
  display: flex;
  justify-content: center;
  position: relative;
  top:10%;
}

.empty-field-snackbar{
  padding-left: 50%;
  transform: translate(50%,0);
}
.sout-mobile{
  color:whitesmoke;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
  transform: translate(0,6em);
}
.title-mobile{
  display: flex;
  align-items: center;
  color:whitesmoke;
}
.user-card-mobile{
  display: flex;
  justify-content:center;
  transform: translate(0,6em);
}
